@import "../../variables.scss";

$offset: 187;
$duration: 1.4s;

table {
  background-color: $main-color;
  width: 100%;
  height: 100%;
  box-shadow: none!important;
}

.mat-column-select {
  overflow: initial;
}

.no-items {
  margin: 20px;
}