@import "../../variables.scss";

#header {
  background-color: $header-color;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

#cart-nav-button {
  background-color: $accent-color;
  height: 100%;
  margin-right: -16px;
  width: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: ease 0.3s;
  &:hover {
    box-shadow: inset 0 0 0 1000px rgba(252, 252, 252, 0.1);
  }
}

#cart-icon {
  display: flex;
  position: relative;
}

#data-badge {
  position:absolute;
  top:-6px;
  right:-6px;
  font-size:.5em;
  background:red;
  color:white;
  width:16px;height:16px;
  text-align:center;
  line-height:16px;
  border-radius:50%;
} 

*[ng-reflect-router-link] {
  cursor: pointer;
  &:focus{
    outline: none;
  }
}
