#cart-table {
    display: flex;
    align-items: flex-start;
    margin: 5px;
    margin-bottom: 55px;
}

#remove-button {
    position: fixed;
    background-color: #d44e4e;
    width: 300px;
    height: 45px;
    bottom: 5px;
    left: 50%;
    margin-left: -150px;
    &[disabled] {
        display: none;
    }
}