<app-data-table [items] = "items"
                (isSelected)="isSelected = $event"
                id="cart-table"></app-data-table>
<button mat-flat-button 
        (click)="removeFromCart()"
        [disabled]="!isSelected"
        id="remove-button">Remove from cart</button>
