<div id="filters">
    <h3>Filters</h3>
    <mat-form-field>
        <mat-label>Choose category</mat-label>
        <mat-select [(ngModel)]="selectedValue" 
                    name="category"
                    (selectionChange)="selectedCategory.emit(selectedValue)">
          <mat-option *ngFor="let category of categories" [value]="category.name">
            {{category.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-flat-button 
            (click)="unselect()" 
            [disabled]="!selectedValue">Cancel</button>
</div>