@import "../../variables.scss";

#filters {
    background-color: $header-color;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

.mat-form-field {
    width: 100%;
}

button {
    width: 100%;
}

#cancel-button {
    background-color: #8b8b8b;
    margin-top: 5px;
}

h3{
    color: $background-color;
    margin: 10px 0;
    text-align: center;
}