.container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.items {
    padding: 5px;
}
.side-bar {
    width: 100%;
    flex: 1;
}
.main-content {
    flex: 3;
}
#add-to-cart-button {
    background-color: rgb(66, 138, 66)!important;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    &[disabled] {
        opacity: .5;
    }
}