<div class="container">
  <div class="items side-bar">
    <app-filters class="grid-element" 
      [categories]="categories"
      (selectedCategory)="category = $event">
    </app-filters>
    <button mat-flat-button 
            [disabled]="!isSelected" 
            (click)="addToCart()"
            id="add-to-cart-button">
      Add to cart
    </button>
  </div>
  <div class="items main-content">
    <app-data-table class="grid-element"
                    [items] = "category ? filter() : items"
                    (isSelected)="isSelected = $event">
    </app-data-table>
  </div>
</div>