@import "variables.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $background-color;}
.mat-grid-list, .mat-grid-tile {
    height: 100%;
    padding-top: 0!important;
}
.mat-grid-tile .mat-figure {
    align-items: flex-start!important;
 }
 .mat-select-panel {
    background-color: $header-color!important;
}
.mat-form-field.mat-focused .mat-form-field-label,
.mat-form-field.mat-focused.mat-primary .mat-select-arrow,
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $background-color!important;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $background-color!important;
}

.mat-flat-button:not([disabled]) {
    background-color: $accent-color;
    &:hover {
      box-shadow: inset 0 0 0 1000px rgba(252, 252, 252, 0.1);
    }
}

.mat-progress-spinner {
    color: $background-color!important;
}