// $header-color: #5d5d5d;
// $accent-color: #ff7c4a;
// $main-color: #808080;

$header-color: #535c5f;
$accent-color: #73939c;
$main-color: #808080;
$background-color: #dddad8;

// $header-color: #3a353f;
// $accent-color: #c05850;
// $main-color: #505668;
// $background-color: #f1ece1;